# Collect Datasets
First we look at the discipline page.

## Suspension

In [40]:
import requests
from bs4 import BeautifulSoup 
import pandas as pd
import os

In [15]:
url = "https://www.cde.ca.gov/ds/ad/filessd.asp"
html = requests.get("https://www.cde.ca.gov/ds/ad/filessd.asp").text
soup = BeautifulSoup(html,'html')

In [22]:
table = soup.find("table")
files = {}
for j,row in enumerate(table.find_all("tr")):
    if j==0: continue #Skip header of the table
    date = None
    file_path = None
    for i,cell in enumerate(row.find_all("td")):
        if i==0:
            #Get first column as the date
            date = cell.text.strip()
        elif i==1:
            file_path = cell.find('a').attrs['href']
    files[date]=file_path
    print(date,file_path)

2020–21 https://www3.cde.ca.gov/demo-downloads/discipline/susp2021.txt
2019–20 https://www3.cde.ca.gov/demo-downloads/discipline/susp1920.txt
2018–19 https://www3.cde.ca.gov/demo-downloads/discipline/susp1819.txt
2017–18 https://www3.cde.ca.gov/demo-downloads/discipline/susp1718.txt
2016–17 https://www3.cde.ca.gov/demo-downloads/discipline/susp1617.txt
2015–16 https://www3.cde.ca.gov/demo-downloads/discipline/susp1516.txt
2014–15 https://www3.cde.ca.gov/demo-downloads/discipline/susp1415.txt
2013–14 https://www3.cde.ca.gov/demo-downloads/discipline/susp1314.txt
2012–13 https://www3.cde.ca.gov/demo-downloads/discipline/susp1213.txt
2011–12 https://www3.cde.ca.gov/demo-downloads/discipline/susp1112.txt

Now download them all

use pandas to put them into dataframes

In [29]:
texts = [requests.get(file_path).text for _,file_path in files.items()]

Turn them to dataframes, I have to build the strucutre myself though... parsing.

In [99]:
text = texts[0]
text[:1000]

'AcademicYear\tAggregateLevel\tCountyCode\tDistrictCode\tSchoolCode\tCountyName\tDistrictName\tSchoolName\tCharterYN\tReportingCategory\tCumulativeEnrollment\tTotal Suspensions\tUnduplicated Count of Students Suspended (Total)\tUnduplicated Count of Students Suspended (Defiance-Only)\tSuspension Rate (Total)\tSuspension Count Violent Incident (Injury)\tSuspension Count Violent Incident (No Injury)\tSuspension Count Weapons Possession\tSuspension Count Illicit Drug-Related\tSuspension Count Defiance-Only\tSuspension Count Other Reasons\r\n2020-21\tC\t01\t\t\tAlameda\t\t\tAll\tGF\t110211\t18\t18\t4\t0.0\t0\t11\t1\t1\t4\t1\r\n2020-21\tC\t01\t\t\tAlameda\t\t\tAll\tGM\t117612\t92\t87\t13\t0.1\t11\t52\t2\t3\t13\t11\r\n2020-21\tC\t01\t\t\tAlameda\t\t\tAll\tGX\t82\t0\t0\t0\t0.0\t0\t0\t0\t0\t0\t0\r\n2020-21\tC\t01\t\t\tAlameda\t\t\tAll\tRA\t62638\t31\t30\t6\t0.0\t1\t18\t0\t0\t6\t6\r\n2020-21\tC\t01\t\t\tAlameda\t\t\tAll\tRB\t20475\t6\t6\t1\t0.0\t0\t5\t0\t0\t1\t0\r\n2020-21\tC\t01\t\t\tAlameda\t\t\tAll\tRD\t2742\t0\t0\t0\t0.0\t0\t0\t0\t0\t0\t0\r\n2020-21\tC\t01\t\t\tAlameda\t\t\tAll\tRF\t10066\t1\t1\t1\t0.0\t0\t0\t0\t0\t1\t0\r\n2020-21\tC\t01\t\t\tAlameda\t\t\tAll\tRH\t77591\t29\t'

In [100]:
text = text.split('\n')
text[:5]

['AcademicYear\tAggregateLevel\tCountyCode\tDistrictCode\tSchoolCode\tCountyName\tDistrictName\tSchoolName\tCharterYN\tReportingCategory\tCumulativeEnrollment\tTotal Suspensions\tUnduplicated Count of Students Suspended (Total)\tUnduplicated Count of Students Suspended (Defiance-Only)\tSuspension Rate (Total)\tSuspension Count Violent Incident (Injury)\tSuspension Count Violent Incident (No Injury)\tSuspension Count Weapons Possession\tSuspension Count Illicit Drug-Related\tSuspension Count Defiance-Only\tSuspension Count Other Reasons\r',
 '2020-21\tC\t01\t\t\tAlameda\t\t\tAll\tGF\t110211\t18\t18\t4\t0.0\t0\t11\t1\t1\t4\t1\r',
 '2020-21\tC\t01\t\t\tAlameda\t\t\tAll\tGM\t117612\t92\t87\t13\t0.1\t11\t52\t2\t3\t13\t11\r',
 '2020-21\tC\t01\t\t\tAlameda\t\t\tAll\tGX\t82\t0\t0\t0\t0.0\t0\t0\t0\t0\t0\t0\r',
 '2020-21\tC\t01\t\t\tAlameda\t\t\tAll\tRA\t62638\t31\t30\t6\t0.0\t1\t18\t0\t0\t6\t6\r']

In [105]:
def clean_line(line):
    return line.replace("ï»¿","").strip()

In [111]:
text = [clean_line(line).split('\t') for line in text]

In [119]:
line_lengths = set()
for i,line in enumerate(text):
    if i < 2:
        print(i,len(line),line)
    line_lengths.add(len(line))
print(line_lengths)

0 21 ['AcademicYear', 'AggregateLevel', 'CountyCode', 'DistrictCode', 'SchoolCode', 'CountyName', 'DistrictName', 'SchoolName', 'CharterYN', 'ReportingCategory', 'CumulativeEnrollment', 'Total Suspensions', 'Unduplicated Count of Students Suspended (Total)', 'Unduplicated Count of Students Suspended (Defiance-Only)', 'Suspension Rate (Total)', 'Suspension Count Violent Incident (Injury)', 'Suspension Count Violent Incident (No Injury)', 'Suspension Count Weapons Possession', 'Suspension Count Illicit Drug-Related', 'Suspension Count Defiance-Only', 'Suspension Count Other Reasons']
1 17 ['2020-21', 'C', '01', 'Alameda', 'All', 'GF', '110211', '18', '18', '4', '0.0', '0', '11', '1', '1', '4', '1']
{17, 20, 21, 1}

In [116]:
for line in text:
    if len

SyntaxError: incomplete input (3612564939.py, line 1)

In [110]:
df = pd.DataFrame(text[1:],columns=text[0])

TypeError: Index(...) must be called with a collection of some kind, 'AcademicYear\tAggregateLevel\tCountyCode\tDistrictCode\tSchoolCode\tCountyName\tDistrictName\tSchoolName\tCharterYN\tReportingCategory\tCumulativeEnrollment\tTotal Suspensions\tUnduplicated Count of Students Suspended (Total)\tUnduplicated Count of Students Suspended (Defiance-Only)\tSuspension Rate (Total)\tSuspension Count Violent Incident (Injury)\tSuspension Count Violent Incident (No Injury)\tSuspension Count Weapons Possession\tSuspension Count Illicit Drug-Related\tSuspension Count Defiance-Only\tSuspension Count Other Reasons' was passed

In [67]:
df

,AcademicYear,AggregateLevel,CountyCode,DistrictCode,SchoolCode,CountyName,DistrictName,SchoolName,CharterYN,ReportingCategory,...,Total Suspensions,Unduplicated Count of Students Suspended (Total),Unduplicated Count of Students Suspended (Defiance-Only),Suspension Rate (Total),Suspension Count Violent Incident (Injury),Suspension Count Violent Incident (No Injury),Suspension Count Weapons Possession,Suspension Count Illicit Drug-Related,Suspension Count Defiance-Only,Suspension Count Other Reasons
0,2020-21,C,01,Alameda,All,GF,110211,18,18,4,...,0,11,1,1,4,1,None,None,None,None
1,2020-21,C,01,Alameda,All,GM,117612,92,87,13,...,11,52,2,3,13,11,None,None,None,None
2,2020-21,C,01,Alameda,All,GX,82,0,0,0,...,0,0,0,0,0,0,None,None,None,None
3,2020-21,C,01,Alameda,All,RA,62638,31,30,6,...,1,18,0,0,6,6,None,None,None,None
4,2020-21,C,01,Alameda,All,RB,20475,6,6,1,...,0,5,0,0,1,0,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222803,2020-21,T,00,State,Yes,SH,18778,11,10,0,...,1,3,1,3,0,3,None,None,None,None
222804,2020-21,T,00,State,Yes,SM,1255,4,4,0,...,0,2,0,2,0,0,None,None,None,None
222805,2020-21,T,00,State,Yes,SS,461279,356,318,15,...,35,186,19,81,16,19,None,None,None,None
222806,2020-21,T,00,State,Yes,TA,762790,579,516,25,...,63,304,32,127,26,27,None,None,None,None
222807,,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

# That worked
Okay that worked for one school let me now do it for all of them

In [102]:
#Given the text from the file
#Return an an array of arrays that pandas can read. 
def clean(string):
    lines = string.split('\n')
    return [clean_line(line).split('\t') for line in lines]

In [75]:
dataframes = []
for text in texts:
    data = clean(text)
    dataframes.append(pd.DataFrame(data[1:],columns=data[0]))

In [76]:
df = pd.concat(dataframes)
df

,AcademicYear,AggregateLevel,CountyCode,DistrictCode,SchoolCode,CountyName,DistrictName,SchoolName,CharterYN,ReportingCategory,...,Unduplicated Count of Students Suspended (Total),Unduplicated Count of Students Suspended (Defiance-Only),Suspension Rate (Total),Suspension Count Violent Incident (Injury),Suspension Count Violent Incident (No Injury),Suspension Count Weapons Possession,Suspension Count Illicit Drug-Related,Suspension Count Defiance-Only,Suspension Count Other Reasons,Cumulative Enrollment
0,2020-21,C,01,Alameda,All,GF,110211,18,18,4,...,11,1,1,4,1,None,None,None,None,NaN
1,2020-21,C,01,Alameda,All,GM,117612,92,87,13,...,52,2,3,13,11,None,None,None,None,NaN
2,2020-21,C,01,Alameda,All,GX,82,0,0,0,...,0,0,0,0,0,None,None,None,None,NaN
3,2020-21,C,01,Alameda,All,RA,62638,31,30,6,...,18,0,0,6,6,None,None,None,None,NaN
4,2020-21,C,01,Alameda,All,RB,20475,6,6,1,...,5,0,0,1,0,None,None,None,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345156,2011-12,T,00,State,No,SS,3611833,543895,267665,131270,...,168137,11589,38440,259383,26603,None,None,None,None,7.4
345157,2011-12,T,00,State,No,TA,5890875,685810,352429,170062,...,208868,15014,53127,324745,33503,None,None,None,None,6.0
345158,2011-12,T,00,State,All,TA,6285600,709702,365743,176027,...,217052,15446,55369,335079,34670,None,None,None,None,5.8
345159,2011-12,T,00,State,Yes,TA,490897,23892,14066,6180,...,8184,432,2242,10334,1167,None,None,None,None,2.9
345160,,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [ ]:
df.to_csv("suspension.csv")

## Alternative Parsing
My parsing didn't work so let me try the built in pandas.import StringIO
output = StringIO.StringIO()

In [91]:
from io import StringIO

In [97]:
with StringIO(text.replace('\t','  ')) as f:
    df = pd.read_fwf(f)

In [98]:
df

,AcademicYear AggregateLevel,CountyCode,DistrictCode SchoolCode CountyName DistrictName,SchoolName,CharterYN,ReportingCategory,CumulativeEnrollment,Total,Suspensions,Unduplicated,...,Count.5,Illicit,Drug-Related,Suspension.5,Count.6,Defiance-Only,Suspension.6,Count.7,Other,Reasons
0,2020-21 C 01 Alameda,All GF,110211 18 18 4 0.0 0 11 1 1 4 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-21 C 01 Alameda,All GM,117612 92 87 13 0.1 11 52 2 3 13 11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-21 C 01 Alameda,All GX,82 0 0 0 0.0 0 0 0 0 0 0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-21 C 01 Alameda,All RA,62638 31 30 6 0.0 1 18 0 0 6 6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-21 C 01 Alameda,All RB,20475 6 6 1 0.0 0 5 0 0 1 0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222802,2020-21 T 00 State,Yes SF,946 8 5 0 0.1 0 8 0 0 0 0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
222803,2020-21 T 00 State,Yes SH,8778 11 10 0 0.1 1 3 1 3 0 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
222804,2020-21 T 00 State,Yes SM,255 4 4 0 0.3 0 2 0 2 0 0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
222805,2020-21 T 00 State,Yes SS,61279 356 318 15 0.1 35 186 19 81 16 19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
222806,2020-21 T 00 State,Yes TA,62790 579 516 25 0.1 63 304 32 127 26...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN